.hack20-sub-bullet {
  margin-left: 15px;
}

.hack20-sub-bullet-2 {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .hack20-sub-bullet {
    margin-left: 10px;
  }

  .hack20-sub-bullet-2 {
    margin-left: 20px;
  }
}
