.hljs {
    display:block;
    overflow-x:auto;
    padding:.5em;
    background:#2b2b2b !important;
    color:#d2d2d2;
    font-family:monospace !important;
    font-weight:400;
    font-size:14px;
    border-top:50px solid #404040;
    border-left:16px solid #404040;
    border-right:16px solid #404040;
    border-bottom:16px solid #404040;
  	border-radius: 6px;
}
.hljs::-webkit-scrollbar {
    height: 15px;
    background-color: transparent;
    border-top: 1px solid black;
}
.hljs::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
}
.hljs::-webkit-scrollbar-track {
    background-color: transparent;
}
.hljs-keyword {
    color:#c792ea;
    font-style:italic
}
.hljs-built_in {
    color:#82B1FF;
    font-style:italic
}
.hljs-type {
    color:#82aaff
}
.hljs-literal {
    color:#ff5874
}
.hljs-number {
    color:#F77669
}
.hljs-regexp {
    color:#5ca7e4
}
.hljs-string {
    color:#C3E88D
}
.hljs-subst {
    color:#d3423e
}
.hljs-symbol {
    color:#82aaff
}
.hljs-class {
    color:#ffcb8b
}
.hljs-function {
    color:#82aaff
}
.hljs-title {
    color:#dcdcaa;
    font-style:italic
}
.hljs-params {
    color:#80cbae
}
.hljs-comment {
    color:#546E7A;
}
.hljs-doctag {
    color:#7fdbca
}
.hljs-meta {
    color:#82aaff
}
.hljs-meta-keyword {
    color:#82aaff
}
.hljs-meta-string {
    color:#ecc48d
}
.hljs-section {
    color:#82b1ff
}
.hljs-builtin-name,.hljs-name,.hljs-tag {
    color:#80cbc4
}
.hljs-attr {
    color:#80CBC4
}
.hljs-attribute {
    color:#80cbc4
}
.hljs-variable {
    color:#addb67
}
.hljs-bullet {
    color:#d9f5dd
}
.hljs-code {
    color:#80cbc4
}
.hljs-emphasis {
    color:#c792ea;
    font-style:italic
}
.hljs-strong {
    color:#addb67;
    font-weight:700
}
.hljs-formula {
    color:#c792ea
}
.hljs-link {
    color:#ff869a
}
.hljs-quote {
    color:#697098;
    font-style:italic
}
.hljs-selector-tag {
    color:#ff6363
}
.hljs-selector-id {
    color:#fad430
}
.hljs-selector-class {
    color:#addb67;
    font-style:italic
}
.hljs-selector-attr,.hljs-selector-pseudo {
    color:#c792ea;
    font-style:italic
}
.hljs-template-tag {
    color:#c792ea
}
.hljs-template-variable {
    color:#addb67
}
.hljs-addition {
    color:#addb67ff;
    font-style:italic
}
.hljs-deletion {
    color:#ef535090;
    font-style:italic
}